

/* Colours */

$orange: #FB8735;
$lightgreyblue : #e1eef6;
$orangebis: #ff5f2e;
$yellow: #fcbe32;
$blue: #01465b;
$darkgrey: #282f35;

h1, h2 {
    font-family: 'Abril Fatface', display;
    
}

h3 {
    font-family: 'Akshar', sans-serif;
}

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
} 

body {
    //background-color: $white !important;
    line-height: 1.5;
    min-height: -webkit-fill-available;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: toRem(14);
    scrollbar-gutter: auto;
    scroll-behavior: smooth;
    color: $darkgrey;
}


