@import "variables";

/* Colours */

//$orange: #F48334;
$orange: #F48334;
$orangeO: #f48434b7;
//$lightgreyblue : #e1eef6;
$orangebis: #ff5f2e;
$yellow: #fcbe32;
//$blue: #01465b;
$pearl: #F6F0E4;
$darkgrey: #282f35;

h1, h2 {
    //font-family: 'Abril Fatface', display;
    font-family: 'Playfair Display', display;
    font-weight: 700;
    font-size: clampRem(35, 70, $bp-mobile, $bp-regular);
}

h3 {
    font-family: 'Playfair Display', display;
    font-size: clampRem(25, 35, $bp-mobile, $bp-regular);
}

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
} 

body {
    //background-color: $white !important;
    line-height: 1.5;
    min-height: -webkit-fill-available;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Dosis', sans-serif;
    font-size: 1.3rem;
    scrollbar-gutter: auto;
    scroll-behavior: smooth;
    color: $darkgrey;
}
