.section-blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
    @include max($bp-tablet-px){
     flex-direction: column;
    }
  
  button {
    position: absolute;
    padding: 1rem 1.8rem;
    border: none;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.18);
    background-color: $pearl;
    color: $darkgrey;
    //font-size: 1.5rem;
    font-size: clampRem(17, 20, $bp-mobile, $bp-regular);
    font-family: "Abril Fatface",display;
    cursor: pointer;
    //width: 70%;
    //max-width: 50px;

    bottom: 20px;
    left: 45%;

    &:hover { 
      animation: 2s ease bounceButton both infinite;
    }

    @include max($bp-m-mobile-px){
      left: 25%;
      bottom: -28px;
    }

    @keyframes bounceButton {
        0% { transform: translateY(5px); }
        50%   { transform: translateY(0px); }
        100%   { transform: translateY(5px); }
      }
}
  .block{
    border-radius: 10px;
  }
  
  .image-block {
    width: 70%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.04484);
    margin: 0px -170px 0px 0px;

    @include max($bp-tablet-px){
      width: 100%;
      margin: 0 auto;
      transform: unset;
    }

    @include max($bp-m-mobile-px){
      background-size: contain;
      height: 256px;
    }
  }
    
  .text-block {
    width: 30%;
    min-width: 400px;
    height: 400px;
    background-color: $yellow;
    z-index: 2;
    //box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transition: transform 0.4s ease-out;
    transform-origin : top right;
    padding: 2rem;
    position: relative;

    @include max($bp-tablet-px){
      width: 85%;
      bottom: 10rem;
      height: 400px;
    }

    @include max($bp-m-mobile-px){
      min-width: 300px;
      bottom: 5rem;
    }

  h3 {
    //font-size: 2rem;
    margin-bottom: 1rem;
    //font-family: "Abril Fatface",display;
  }
}

&.type2 {
    display: flex;
    flex-direction: column-reverse;



    .image-block {
        width: 80%;
        margin: 0px 0px 0px -170px; 
    }

    .text-block {
        height: unset;
        width: 80% !important;
        max-width: 800px;
        background-color: $darkgrey;
        color: white;
        transform-origin: top left !important;

        p {
          padding-bottom: 2rem;
        }

        @include max($bp-tablet-px){
          bottom: unset;
        }
    }

    button {
        position: absolute;
        padding: 1rem 1.8rem;
        border: none;
        border-radius: 50px 50px 50px 50px;
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.18);
        background-color: $orange;
        //font-size: 1.5rem;
        font-size: clampRem(17, 25, $bp-mobile, $bp-regular);
        font-family: "Abril Fatface",display;
        cursor: pointer;
        width: 50%;
        //max-width: 50px;
        left: 25%;
        bottom: unset;


        @include max($bp-tablet-px){
          animation: none;
        }

 

        @keyframes bounceButton {
            0% { transform: translateY(5px); }
            50%   { transform: translateY(0px); }
            100%   { transform: translateY(5px); }
          }

        
    }
}

}

