footer {
    color:  #000000;
    //background-color: $yellow;
    padding: 2rem;
    position: relative;
    
    background: linear-gradient(270deg, #ff5f2e, #f48334, #fcbe32);
    background-size: 600% 600%;

    -webkit-animation: footergradient 20s ease infinite;
    -moz-animation: footergradient 20s ease infinite;
    animation: footergradient 20s ease infinite;

    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 200px;
        left: 0;
        top: 0%;
        background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255,255,255,0) 100%);
        background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255) 100%);
    }



    .content {
        display: flex;
        justify-content: space-between;
        padding: 10rem 2rem 2rem ;


        //col-left

        .col-left {

            h3 {
                font-family: 'Abril Fatface', display;
                font-size: clampRem(17, 60, $bp-mobile, $bp-regular);
                line-height: 0.7;
            }

            .rs-list {
                display: flex;
                gap: 30px;
                margin-top: 30px;
    
                img {
                    width: 70px;
                }
            }
        }

        //col right

        .col-right {
            .links {
                display: flex;
                gap: 50px;
            }
    
            ul li {
                list-style: none;
            }
    
            a {
                font-family: 'Akshar', sans-serif;
                font-size: clampRem(25, 25, $bp-mobile, $bp-regular);
                text-decoration: none;
                color:  #000000;
                position: relative;
            }

            li span {
                opacity: 0;
                transition: 700ms ease all;
                text-shadow: none;
                @include max($bp-small-px){
                  opacity: 1;
                }
              }
              
            li:hover span {
            opacity: 1;
            text-shadow: none;
            }
              
            img{
                width: 200px;
                margin-bottom: 1rem;
            }
        }

    }
}


@-webkit-keyframes footergradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes footergradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes footergradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}