
//$main-bg-color: rgb(81, 1, 1);


body {
    --main-bg-color: rgba(255, 255, 255, 0.915);
}


.menu-menu-main-container {
   
    position: fixed;
    background-color: var(--main-bg-color);
    z-index: 1000;
    width: 100%;
    transition: all ease 2s;
    padding-top: 20px;

    &::after {
        content: "";
        color: rgba(0,0,0,0);
        display: block;
        position: absolute;
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255 255 255) 100%);
        z-index: 100;
        width: 100%;
        height: 0px;
    }
}

.menu-fixed {

    &::after {
        opacity: 0;
    }
}

.menu {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    gap: 50px;
    z-index: 1000;
    width: 100%;
    padding-right: 50px;
   //background-color: #ffffff9c;


    .home-link {
        width: 100%;
        display: flex;
        margin-left: 2rem;
    }
    .home-link img{
        width: 180px;
        height: 50px;
        object-fit: contain;
    }

    li {
        list-style: none;
        font-family: 'Dosis', sans-serif;
        font-weight: 300;
        font-size: 1.2rem;
        min-width: fit-content;
        transition: all ease 1s;
    }

    a {
        text-decoration: none;
        color: black;
        transition: all ease 1s;
        display: inline-block;
    }

    .menu-item  a:hover{
        transform: translateY(-10px);
        color: $orange;
    }
}